In [3]:
import numpy as np
import datetime as dt
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge, Lasso, LinearRegression
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV

sns.set_style("darkgrid")

In [4]:
data = pd.read_csv("Diabetes with Population Info by County 2017.csv")

data.head()

,County,State,CountyFIPS,Diabetes_Number,Obesity_Number,Physical_Inactivity_Number,sex and age_total population_65 years and over_sex ratio (males per 100 females),race_total population,race_total population_one race,race_total population_two or more races,...,sex and age_total population_21 years and over,sex and age_total population_62 years and over,sex and age_total population_65 years and over,sex and age_total population_18 years and over_1,sex and age_total population_18 years and over_male,sex and age_total population_18 years and over_female,sex and age_total population_18 years and over_sex ratio (males per 100 females),sex and age_total population_65 years and over_1,sex and age_total population_65 years and over_male,sex and age_total population_65 years and over_female
0,Autauga County,Alabama,1001,5178,13489,12525,76.5,55200,54170,1030,...,39614,9403,8050,41831,20054,21777,92.1,8050,3488,4562
1,Baldwin County,Alabama,1003,16707,48542,40024,86.6,208107,204535,3572,...,155502,49811,40665,162430,78104,84326,92.6,40665,18870,21795
2,Barbour County,Alabama,1005,3400,8009,5431,76.2,25782,25429,353,...,19394,5658,4634,20346,10923,9423,115.9,4634,2004,2630
3,Bibb County,Alabama,1007,2371,6534,5827,80.5,22527,22340,187,...,16864,4323,3661,17868,9578,8290,115.5,3661,1633,2028
4,Blount County,Alabama,1009,6282,14227,14365,79.7,57645,56710,935,...,42232,12400,10233,44177,21595,22582,95.6,10233,4540,5693

In [5]:
data.info(verbose = True) #checking data types and variables, 
                          # seems like Diabetes_Number (and some others) are not integers...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3220 entries, 0 to 3219
Data columns (total 95 columns):
 #   Column                                                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                                                --------------  -----
 0   County                                                                                                                                                3220 non-null   object
 1   State                                                                                                                                                 3220 non-null   object
 2   CountyFIPS                                                                                                                                            3220 non-null   int64
 3   Diabetes_Number                                                                                                                                       3220 non-null   object
 4   Obesity_Number                                                                                                                                        3220 non-null   object
 5   Physical_Inactivity_Number                                                                                                                            3220 non-null   object
 6   sex and age_total population_65 years and over_sex ratio (males per 100 females)                                                                      3220 non-null   object
 7   race_total population                                                                                                                                 3220 non-null   int64
 8   race_total population_one race                                                                                                                        3220 non-null   int64
 9   race_total population_two or more races                                                                                                               3220 non-null   int64
 10  race_total population_one race_1                                                                                                                      3220 non-null   int64
 11  race_total population_one race_white                                                                                                                  3220 non-null   int64
 12  race_total population_one race_black or african american                                                                                              3220 non-null   int64
 13  race_total population_one race_american indian and alaska native                                                                                      3220 non-null   int64
 14  race_total population_one race_american indian and alaska native_cherokee tribal grouping                                                             3220 non-null   int64
 15  race_total population_one race_american indian and alaska native_chippewa tribal grouping                                                             3220 non-null   int64
 16  race_total population_one race_american indian and alaska native_navajo tribal grouping                                                               3220 non-null   int64
 17  race_total population_one race_american indian and alaska native_sioux tribal grouping                                                                3220 non-null   int64
 18  race_total population_one race_asian                                                                                                                  3220 non-null   int64
 19  race_total population_one race_asian_asian indian                                                                                                     3220 non-null   int64
 20  race_total population_one race_asian_chinese                                                                                                          3220 non-null   int64
 21  race_total population_one race_asian_filipino                                                                                                         3220 non-null   int64
 22  race_total population_one race_asian_japanese                                                                                                         3220 non-null   int64
 23  race_total population_one race_asian_korean                                                                                                           3220 non-null   int64
 24  race_total population_one race_asian_vietnamese                                                                                                       3220 non-null   int64
 25  race_total population_one race_asian_other asian                                                                                                      3220 non-null   int64
 26  race_total population_one race_native hawaiian and other pacific islander                                                                             3220 non-null   int64
 27  race_total population_one race_native hawaiian and other pacific islander_native hawaiian                                                             3220 non-null   int64
 28  race_total population_one race_native hawaiian and other pacific islander_guamanian or chamorro                                                       3220 non-null   int64
 29  race_total population_one race_native hawaiian and other pacific islander_samoan                                                                      3220 non-null   int64
 30  race_total population_one race_native hawaiian and other pacific islander_other pacific islander                                                      3220 non-null   int64
 31  race_total population_one race_some other race                                                                                                        3220 non-null   int64
 32  race_total population_two or more races_1                                                                                                             3220 non-null   int64
 33  race_total population_two or more races_white and black or african american                                                                           3220 non-null   int64
 34  race_total population_two or more races_white and american indian and alaska native                                                                   3220 non-null   int64
 35  race_total population_two or more races_white and asian                                                                                               3220 non-null   int64
 36  race_total population_two or more races_black or african american and american indian and alaska native                                               3220 non-null   int64
 37  race alone or in combination with one or more other races_total population                                                                            3220 non-null   int64
 38  race alone or in combination with one or more other races_total population_white                                                                      3220 non-null   int64
 39  race alone or in combination with one or more other races_total population_black or african american                                                  3220 non-null   int64
 40  race alone or in combination with one or more other races_total population_american indian and alaska native                                          3220 non-null   int64
 41  race alone or in combination with one or more other races_total population_asian                                                                      3220 non-null   int64
 42  race alone or in combination with one or more other races_total population_native hawaiian and other pacific islander                                 3220 non-null   int64
 43  race alone or in combination with one or more other races_total population_some other race                                                            3220 non-null   int64
 44  hispanic or latino and race_total population                                                                                                          3220 non-null   int64
 45  hispanic or latino and race_total population_hispanic or latino (of any race)                                                                         3220 non-null   int64
 46  hispanic or latino and race_total population_hispanic or latino (of any race)_mexican                                                                 3220 non-null   int64
 47  hispanic or latino and race_total population_hispanic or latino (of any race)_puerto rican                                                            3220 non-null   int64
 48  hispanic or latino and race_total population_hispanic or latino (of any race)_cuban                                                                   3220 non-null   int64
 49  hispanic or latino and race_total population_hispanic or latino (of any race)_other hispanic or latino                                                3220 non-null   int64
 50  hispanic or latino and race_total population_not hispanic or latino                                                                                   3220 non-null   int64
 51  hispanic or latino and race_total population_not hispanic or latino_white alone                                                                       3220 non-null   int64
 52  hispanic or latino and race_total population_not hispanic or latino_black or african american alone                                                   3220 non-null   int64
 53  hispanic or latino and race_total population_not hispanic or latino_american indian and alaska native alone                                           3220 non-null   int64
 54  hispanic or latino and race_total population_not hispanic or latino_asian alone                                                                       3220 non-null   int64
 55  hispanic or latino and race_total population_not hispanic or latino_native hawaiian and other pacific islander alone                                  3220 non-null   int64
 56  hispanic or latino and race_total population_not hispanic or latino_some other race alone                                                             3220 non-null   int64
 57  hispanic or latino and race_total population_not hispanic or latino_two or more races                                                                 3220 non-null   int64
 58  hispanic or latino and race_total population_not hispanic or latino_two or more races_two races including some other race                             3220 non-null   int64
 59  hispanic or latino and race_total population_not hispanic or latino_two or more races_two races excluding some other race -  and three or more races  3220 non-null   int64
 60  total housing units                                                                                                                                   3220 non-null   int64
 61  citizen -  voting age population_citizen -  18 and over population                                                                                    3220 non-null   int64
 62  citizen -  voting age population_citizen -  18 and over population_male                                                                               3220 non-null   int64
 63  citizen -  voting age population_citizen -  18 and over population_female                                                                             3220 non-null   int64
 64  sex and age_total population                                                                                                                          3220 non-null   int64
 65  sex and age_total population_male                                                                                                                     3220 non-null   int64
 66  sex and age_total population_female                                                                                                                   3220 non-null   int64
 67  sex and age_total population_sex ratio (males per 100 females)                                                                                        3220 non-null   float64
 68  sex and age_total population_under 5 years                                                                                                            3220 non-null   int64
 69  sex and age_total population_5 to 9 years                                                                                                             3220 non-null   int64
 70  sex and age_total population_10 to 14 years                                                                                                           3220 non-null   int64
 71  sex and age_total population_15 to 19 years                                                                                                           3220 non-null   int64
 72  sex and age_total population_20 to 24 years                                                                                                           3220 non-null   int64
 73  sex and age_total population_25 to 34 years                                                                                                           3220 non-null   int64
 74  sex and age_total population_35 to 44 years                                                                                                           3220 non-null   int64
 75  sex and age_total population_45 to 54 years                                                                                                           3220 non-null   int64
 76  sex and age_total population_55 to 59 years                                                                                                           3220 non-null   int64
 77  sex and age_total population_60 to 64 years                                                                                                           3220 non-null   int64
 78  sex and age_total population_65 to 74 years                                                                                                           3220 non-null   int64
 79  sex and age_total population_75 to 84 years                                                                                                           3220 non-null   int64
 80  sex and age_total population_85 years and over                                                                                                        3220 non-null   int64
 81  sex and age_total population_median age (years)                                                                                                       3220 non-null   float64
 82  sex and age_total population_under 18 years                                                                                                           3220 non-null   int64
 83  sex and age_total population_16 years and over                                                                                                        3220 non-null   int64
 84  sex and age_total population_18 years and over                                                                                                        3220 non-null   int64
 85  sex and age_total population_21 years and over                                                                                                        3220 non-null   int64
 86  sex and age_total population_62 years and over                                                                                                        3220 non-null   int64
 87  sex and age_total population_65 years and over                                                                                                        3220 non-null   int64
 88  sex and age_total population_18 years and over_1                                                                                                      3220 non-null   int64
 89  sex and age_total population_18 years and over_male                                                                                                   3220 non-null   int64
 90  sex and age_total population_18 years and over_female                                                                                                 3220 non-null   int64
 91  sex and age_total population_18 years and over_sex ratio (males per 100 females)                                                                      3220 non-null   float64
 92  sex and age_total population_65 years and over_1                                                                                                      3220 non-null   int64
 93  sex and age_total population_65 years and over_male                                                                                                   3220 non-null   int64
 94  sex and age_total population_65 years and over_female                                                                                                 3220 non-null   int64
dtypes: float64(3), int64(86), object(6)
memory usage: 2.3+ MB

In [6]:
data.info(verbose = True) #checking data types and variables, 
                          # seems like Diabetes_Number (and some others) are not integers...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3220 entries, 0 to 3219
Data columns (total 95 columns):
 #   Column                                                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                                                --------------  -----
 0   County                                                                                                                                                3220 non-null   object
 1   State                                                                                                                                                 3220 non-null   object
 2   CountyFIPS                                                                                                                                            3220 non-null   int64
 3   Diabetes_Number                                                                                                                                       3220 non-null   object
 4   Obesity_Number                                                                                                                                        3220 non-null   object
 5   Physical_Inactivity_Number                                                                                                                            3220 non-null   object
 6   sex and age_total population_65 years and over_sex ratio (males per 100 females)                                                                      3220 non-null   object
 7   race_total population                                                                                                                                 3220 non-null   int64
 8   race_total population_one race                                                                                                                        3220 non-null   int64
 9   race_total population_two or more races                                                                                                               3220 non-null   int64
 10  race_total population_one race_1                                                                                                                      3220 non-null   int64
 11  race_total population_one race_white                                                                                                                  3220 non-null   int64
 12  race_total population_one race_black or african american                                                                                              3220 non-null   int64
 13  race_total population_one race_american indian and alaska native                                                                                      3220 non-null   int64
 14  race_total population_one race_american indian and alaska native_cherokee tribal grouping                                                             3220 non-null   int64
 15  race_total population_one race_american indian and alaska native_chippewa tribal grouping                                                             3220 non-null   int64
 16  race_total population_one race_american indian and alaska native_navajo tribal grouping                                                               3220 non-null   int64
 17  race_total population_one race_american indian and alaska native_sioux tribal grouping                                                                3220 non-null   int64
 18  race_total population_one race_asian                                                                                                                  3220 non-null   int64
 19  race_total population_one race_asian_asian indian                                                                                                     3220 non-null   int64
 20  race_total population_one race_asian_chinese                                                                                                          3220 non-null   int64
 21  race_total population_one race_asian_filipino                                                                                                         3220 non-null   int64
 22  race_total population_one race_asian_japanese                                                                                                         3220 non-null   int64
 23  race_total population_one race_asian_korean                                                                                                           3220 non-null   int64
 24  race_total population_one race_asian_vietnamese                                                                                                       3220 non-null   int64
 25  race_total population_one race_asian_other asian                                                                                                      3220 non-null   int64
 26  race_total population_one race_native hawaiian and other pacific islander                                                                             3220 non-null   int64
 27  race_total population_one race_native hawaiian and other pacific islander_native hawaiian                                                             3220 non-null   int64
 28  race_total population_one race_native hawaiian and other pacific islander_guamanian or chamorro                                                       3220 non-null   int64
 29  race_total population_one race_native hawaiian and other pacific islander_samoan                                                                      3220 non-null   int64
 30  race_total population_one race_native hawaiian and other pacific islander_other pacific islander                                                      3220 non-null   int64
 31  race_total population_one race_some other race                                                                                                        3220 non-null   int64
 32  race_total population_two or more races_1                                                                                                             3220 non-null   int64
 33  race_total population_two or more races_white and black or african american                                                                           3220 non-null   int64
 34  race_total population_two or more races_white and american indian and alaska native                                                                   3220 non-null   int64
 35  race_total population_two or more races_white and asian                                                                                               3220 non-null   int64
 36  race_total population_two or more races_black or african american and american indian and alaska native                                               3220 non-null   int64
 37  race alone or in combination with one or more other races_total population                                                                            3220 non-null   int64
 38  race alone or in combination with one or more other races_total population_white                                                                      3220 non-null   int64
 39  race alone or in combination with one or more other races_total population_black or african american                                                  3220 non-null   int64
 40  race alone or in combination with one or more other races_total population_american indian and alaska native                                          3220 non-null   int64
 41  race alone or in combination with one or more other races_total population_asian                                                                      3220 non-null   int64
 42  race alone or in combination with one or more other races_total population_native hawaiian and other pacific islander                                 3220 non-null   int64
 43  race alone or in combination with one or more other races_total population_some other race                                                            3220 non-null   int64
 44  hispanic or latino and race_total population                                                                                                          3220 non-null   int64
 45  hispanic or latino and race_total population_hispanic or latino (of any race)                                                                         3220 non-null   int64
 46  hispanic or latino and race_total population_hispanic or latino (of any race)_mexican                                                                 3220 non-null   int64
 47  hispanic or latino and race_total population_hispanic or latino (of any race)_puerto rican                                                            3220 non-null   int64
 48  hispanic or latino and race_total population_hispanic or latino (of any race)_cuban                                                                   3220 non-null   int64
 49  hispanic or latino and race_total population_hispanic or latino (of any race)_other hispanic or latino                                                3220 non-null   int64
 50  hispanic or latino and race_total population_not hispanic or latino                                                                                   3220 non-null   int64
 51  hispanic or latino and race_total population_not hispanic or latino_white alone                                                                       3220 non-null   int64
 52  hispanic or latino and race_total population_not hispanic or latino_black or african american alone                                                   3220 non-null   int64
 53  hispanic or latino and race_total population_not hispanic or latino_american indian and alaska native alone                                           3220 non-null   int64
 54  hispanic or latino and race_total population_not hispanic or latino_asian alone                                                                       3220 non-null   int64
 55  hispanic or latino and race_total population_not hispanic or latino_native hawaiian and other pacific islander alone                                  3220 non-null   int64
 56  hispanic or latino and race_total population_not hispanic or latino_some other race alone                                                             3220 non-null   int64
 57  hispanic or latino and race_total population_not hispanic or latino_two or more races                                                                 3220 non-null   int64
 58  hispanic or latino and race_total population_not hispanic or latino_two or more races_two races including some other race                             3220 non-null   int64
 59  hispanic or latino and race_total population_not hispanic or latino_two or more races_two races excluding some other race -  and three or more races  3220 non-null   int64
 60  total housing units                                                                                                                                   3220 non-null   int64
 61  citizen -  voting age population_citizen -  18 and over population                                                                                    3220 non-null   int64
 62  citizen -  voting age population_citizen -  18 and over population_male                                                                               3220 non-null   int64
 63  citizen -  voting age population_citizen -  18 and over population_female                                                                             3220 non-null   int64
 64  sex and age_total population                                                                                                                          3220 non-null   int64
 65  sex and age_total population_male                                                                                                                     3220 non-null   int64
 66  sex and age_total population_female                                                                                                                   3220 non-null   int64
 67  sex and age_total population_sex ratio (males per 100 females)                                                                                        3220 non-null   float64
 68  sex and age_total population_under 5 years                                                                                                            3220 non-null   int64
 69  sex and age_total population_5 to 9 years                                                                                                             3220 non-null   int64
 70  sex and age_total population_10 to 14 years                                                                                                           3220 non-null   int64
 71  sex and age_total population_15 to 19 years                                                                                                           3220 non-null   int64
 72  sex and age_total population_20 to 24 years                                                                                                           3220 non-null   int64
 73  sex and age_total population_25 to 34 years                                                                                                           3220 non-null   int64
 74  sex and age_total population_35 to 44 years                                                                                                           3220 non-null   int64
 75  sex and age_total population_45 to 54 years                                                                                                           3220 non-null   int64
 76  sex and age_total population_55 to 59 years                                                                                                           3220 non-null   int64
 77  sex and age_total population_60 to 64 years                                                                                                           3220 non-null   int64
 78  sex and age_total population_65 to 74 years                                                                                                           3220 non-null   int64
 79  sex and age_total population_75 to 84 years                                                                                                           3220 non-null   int64
 80  sex and age_total population_85 years and over                                                                                                        3220 non-null   int64
 81  sex and age_total population_median age (years)                                                                                                       3220 non-null   float64
 82  sex and age_total population_under 18 years                                                                                                           3220 non-null   int64
 83  sex and age_total population_16 years and over                                                                                                        3220 non-null   int64
 84  sex and age_total population_18 years and over                                                                                                        3220 non-null   int64
 85  sex and age_total population_21 years and over                                                                                                        3220 non-null   int64
 86  sex and age_total population_62 years and over                                                                                                        3220 non-null   int64
 87  sex and age_total population_65 years and over                                                                                                        3220 non-null   int64
 88  sex and age_total population_18 years and over_1                                                                                                      3220 non-null   int64
 89  sex and age_total population_18 years and over_male                                                                                                   3220 non-null   int64
 90  sex and age_total population_18 years and over_female                                                                                                 3220 non-null   int64
 91  sex and age_total population_18 years and over_sex ratio (males per 100 females)                                                                      3220 non-null   float64
 92  sex and age_total population_65 years and over_1                                                                                                      3220 non-null   int64
 93  sex and age_total population_65 years and over_male                                                                                                   3220 non-null   int64
 94  sex and age_total population_65 years and over_female                                                                                                 3220 non-null   int64
dtypes: float64(3), int64(86), object(6)
memory usage: 2.3+ MB

In [8]:
clean = data[data.Diabetes_Number != "Suppressed"] 
clean = clean[clean.Obesity_Number != "No Data"]
clean = clean[clean.iloc[:,6] != "-"]
# cleaning data to drop these rows bc we can't do anything with them

In [9]:
clean.iloc[:,3:6] = clean.iloc[:,3:6].astype(int) 
clean.iloc[:,6] = clean.iloc[:,6].astype(float)
# making all number columns into integer or float data types

In [10]:
clean.select_dtypes(include = "object").head()

           County    State
0  Autauga County  Alabama
1  Baldwin County  Alabama
2  Barbour County  Alabama
3     Bibb County  Alabama
4   Blount County  Alabama